doctype html
html
  head
    title kunkka
    meta(name='viewport', content='width=device-width, initial-scale=1.0, max-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .kunkka
      h1 kunkka
      form(action='', method='post')
        p
          input(type='text', name='torrent', class='torrent', placeholder='magnet/torrent url')
        p
          button(type='submit') &#9658; stream
      p.streaming= streaming
