doctype html
html
  head
    title kunkka
    meta(name='viewport', content='width=device-width, initial-scale=1.0, max-scale=1.0, user-scalable=no, minimal-ui')
    meta(name='apple-mobile-web-app-capable', content='yes')
    link(rel='shortcut icon', href='/favicon.ico')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='apple-touch-icon' href='/images/kunkka-60.png')
    link(rel='apple-touch-icon' sizes='76x76' href='/images/kunkka-76.png')
    link(rel='apple-touch-icon' sizes='120x120' href='/images/kunkka-120.png')
    link(rel='apple-touch-icon' sizes='152x152' href='/images/kunkka-152.png')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/sockjs-client/0.3.4/sockjs.min.js')
    script(src='/javascripts/index.js')
  body
    .kunkka
      h1 kunkka
      p
        a.streaming loading&hellip;
      p
        input(type='text', placeholder='magnet/torrent url').torrent
      p
        button(type='button').stream stream
      p
        button(type='button').stop stop
