doctype html
html
  head
    title kunkka
    meta(name='viewport', content='width=device-width, initial-scale=1.0, max-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .kunkka
      h1 kunkka
      p
        input(type='text', class='torrent', placeholder='magnet/torrent url')
      p
        button(type='button') &#9658; stream
      p.streaming.
        [Chihiro]_Mangaka-san_to_Assistant-san_to_-_01_[1280x720_H.264_AAC][BF3FCFDD].mkv
