doctype html
html
  head
    title kunkka
    meta(name='viewport', content='width=device-width, initial-scale=1.0, max-scale=1.0, user-scalable=no, minimal-ui')
    meta(name='apple-mobile-web-app-capable', content='yes')
    link(rel='shortcut icon', href='/favicon.ico')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='apple-touch-icon' href='/images/kunkka-60.png')
    link(rel='apple-touch-icon' sizes='76x76' href='/images/kunkka-76.png')
    link(rel='apple-touch-icon' sizes='120x120' href='/images/kunkka-120.png')
    link(rel='apple-touch-icon' sizes='152x152' href='/images/kunkka-152.png')
  body
    .kunkka
      h1 kunkka
      p.streaming
        if streaming
          = streaming
          a(href='/stop').stop &#9632; stop
        else
          | not streaming anything
      form(action='', method='post')
        p
          input(type='text', name='torrent', class='torrent', placeholder='magnet/torrent url')
        p
          button(type='submit') &#9658; stream
